#tblPending {
    height: 1px;
}
#tblConfrim{
    height: 1px;
}

#tblCancel{
    height: 1px;
}
#tblComplete{
    height: 1px;
}

.cont-col{
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-coldt {
    border-right: 1px solid black;


}
#tblPendingdata{
    margin-top: 35px !important;
    background-color: #f5f6fa;
}

#tblConfrimData{
    margin-top: 35px !important;
    background-color: #f5f6fa;
}
#tblCancelData{
    margin-top: 35px !important;
    background-color: #f5f6fa;
}
#tblCompleteData{
    margin-top: 35px !important;
    background-color: #f5f6fa;
}
