.slider .btn {
    margin-top: 20px;
  }

  .section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
  }

  .section-follow .fa-4x {
    margin: 5px 10px;
  }

  .section-contact h5 {
    margin-bottom: 30px;
  }
  input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 0px;
    margin: 0;
    margin-left: 5px;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover,
.btn-large:hover,
.btn-small:hover,
.btn-flat:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover {
    border-bottom: 0px;
    margin: 0;
    margin-left: 5px;
}
.card-content{
    height: 30vh;
}
.carousel{
    height: 700px;
}
.carousel-item {
    height: 700px;
}
