#clsbtn{
    display: flex;
    justify-content: Right;
    align-items: Right;

}
.btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: #86B817;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}
.btn-close .icon-cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 25px;
  height: 25px;
}
.btn-close .icon-cross:before, .btn-close .icon-cross:after {
  content: "";
  position: absolute;
  top: 9.5px;
  left: 0;
  right: 0;
  height: 6px;
  background: #fff;
  border-radius: 2px;
}
.btn-close .icon-cross:before {
  transform: rotate(45deg);
}
.btn-close .icon-cross:after {
  transform: rotate(-45deg);
}
.btn-close .icon-cross span {
  display: block;
}
.btn-close:hover, .btn-close:focus {
  transform: rotateZ(90deg);
  background: #86B817;
}

.cross-stand-alone {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
}
.cross-stand-alone:before, .cross-stand-alone:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  height: 4px;
  background: #000;
  border-radius: 4px;
}
.cross-stand-alone:before {
  transform: rotate(45deg);
}
.cross-stand-alone:after {
  transform: rotate(-45deg);
}
.cross-stand-alone span {
  display: block;
}

.cross-1px {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.cross-1px:before, .cross-1px:after {
  content: "";
  position: absolute;
  top: 39.5px;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  border-radius: 1px;
}
.cross-1px:before {
  transform: rotate(45deg);
}
.cross-1px:after {
  transform: rotate(-45deg);
}
.cross-1px span {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
#overlay {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 92vh;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 17px;
}

.button {

    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: #86B817;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #86ab37;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #6c9218;
    color: #fff;
}

.button:hover .button__icon-wrapper {
    color: #86B817;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}

